{% extends 'core/base.html' %}
{% block content %}
<div class="siimple-h2 siimple--text-normal siimple--mb-1" align="center">
    URL Shortener
</div>
<div class="siimple-paragraph siimple-paragraph--lead" align="center">
    Enter url to shorten it.
</div>
<form action="" method="post" class="siimple-form">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="siimple-btn siimple-btn--primary siimple-btn--fluid siimple--text-bold siimple-btn--small">Shorten</button>
</form>
{% endblock %}